.customers {
    padding-top: 94px;
    padding-bottom: 94px;
}

.customers__title {
    margin-top: 0;
    margin-bottom: 50px;
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em
}

.customers__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

    list-style: none;
}

.customers__icon {
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    display: flex;
    justify-content: center;
    align-items: center;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    padding: 16px 32px;
    fill: var(--icon-color);

    &:hover,
    &:focus {
    border-color: var(--akcent-color);
    fill: var(--akcent-color); 
  }
}
